body {
  margin: 20px;
  /* text-align: center; */
}
.allCats{
  display: flex;
  flex-wrap: wrap;
}
.allCats>*{
  flex:0 0 33.3333%;
}
.categories{
  display: flex;
}
.catcontent{
  text-align: justify;
}
h1{
  color:antiquewhite;
  padding:4rem;
  text-align: center;
}

h2{
  color: white;
  font-size: 25px;
  padding-top: 2rem;
}

.img {
  float: left;
  margin: 5px;
  border-radius: 50%;}
p{
  padding-top:2rem;
  font-size: 25px;;
}
